@charset "UTF-8";
/* FG Main Styles */
/* Generales */
body {
  font-family: "Proxima Nova", 'Montserrat', sans-serif; }

a:focus {
  text-decoration: inherit;
  color: inherit; }

.makeBg {
  background-color: #EEE;
  background-position: 50% 50%;
  background-size: cover; }

.container {
  max-width: 1060px;
  padding: 0 40px;
  margin: 0 auto; }

.smallContainer {
  max-width: 800px;
  padding: 0 40px;
  margin: 0 auto; }

.coverBg {
  background-size: cover;
  background-position: 50% 50%; }

.button {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px;
  border: 1px solid #26f044;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #fff;
  color: #4a4a4a;
  transition: all 0.5s ease-in-out; }
  .button:hover, .button.active {
    text-decoration: none;
    background: #26f044;
    color: #4a4a4a; }
  .button.button-white {
    background: transparent;
    border: solid 1px #FFF;
    color: #FFF; }
  .button.button-white:hover, .button.button-white.active {
    background: #FFF;
    color: #4a4a4a; }

.fg-homesection-intro {
  padding: 30px 0; }
  .fg-homesection-intro h2 {
    display: block;
    margin: 0;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    color: #19d235; }

.fg-homesection-introDesc {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8;
  color: #4a4a4a; }

/* Home Banner */
#fg-mainBanner {
  position: relative; }

.fg-slickHome-pic {
  height: 500px;
  background-size: cover;
  background-position: 50% 50%; }

#fg-formFinder-home {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  left: 0;
  right: 0; }
  #fg-formFinder-home .fg-formFinder {
    display: inline-block;
    text-align: left; }

/* Formularios de búsqueda de inmuebeles */
.fg-formFinder-title {
  color: #111;
  font-size: 16px;
  font-weight: 600;
  line-height: 110%;
  padding: .9em 1.25em;
  margin: 0;
  background-color: #26f044;
  text-transform: uppercase;
  position: relative; }

.fg-formFinder-title:after {
  position: absolute;
  top: 100%;
  left: 16.666%;
  content: "";
  border: solid 7px transparent;
  border-top-color: #26f044;
  margin-left: -15px; }

.fg-formFinder-cont {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px 40px;
  font-size: 0; }

.fg-formFinder-input {
  font-size: 13px;
  display: inline-block;
  margin: 10px 0 10px 1px;
  vertical-align: top; }

.fg-formFinder-btn {
  background: #26f044;
  position: relative; }

.fg-formFinder-btn .fa {
  color: #fff;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 18px; }

.fg-formFinder-btn input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  color: transparent;
  opacity: .05;
  cursor: pointer; }

/* Formularios */
.fg-select {
  position: relative; }

.fg-select:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  background: #FFF;
  font-family: 'FontAwesome';
  content: "\f0d7";
  line-height: 40px;
  text-align: center;
  pointer-events: none; }

.fg-select select {
  -moz-appearance: textfield;
  -webkit-appeareance: textfield;
  background: #FFF;
  appearence: none;
  border: 0;
  height: 40px;
  padding: 0 15px 0 7px;
  width: 100%; }

/* INTRODUCING FG HOME */
.fg-introHome-pic {
  background: #000;
  text-align: center;
  color: #f9f9f9;
  position: relative; }

.fg-introHome-pic .coverBg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6; }

.fg-introHome-text, .fg-introHome-title {
  color: #f9f9f9; }

.fg-introHome-title {
  margin: 0; }

.fg-introHome-list {
  list-style: none;
  padding: 0;
  margin: -90px 0 0 -20px;
  position: relative;
  z-index: 2; }

.fg-introHome-cont {
  padding: 120px 0 180px;
  position: relative;
  z-index: 2; }

.fg-introHome-itemPic {
  padding-top: 54.6%;
  margin-bottom: 1em;
  border-top: solid 2px #26f044; }

.fg-introHome-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 1em; }

.fg-introHome-text {
  font-size: 14px;
  padding-bottom: 1em;
  line-height: 140%;
  text-align: center; }

.fg-introHome-text p {
  margin-bottom: 1em; }

.fg-introHome-item {
  padding: 0 0 0 20px;
  text-align: center; }

.fg-introHome-itemTitle {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase; }

.fg-introHome-itemText {
  font-size: 14px;
  color: #4a4a4a;
  padding-bottom: 1em; }

#fg-introductionHome {
  padding-bottom: 80px; }

/* ESTATES GRID */
#fg-featuredEstates {
  display: block;
  padding: 20px 0;
  background: #fff; }

.fg-featuredEstates-buttons {
  font-size: 0; }
  .fg-featuredEstates-buttons .button {
    font-size: 14px;
    font-weight: 400;
    text-transform: none; }

.fg-estatesGrid {
  display: block;
  padding: 20px;
  font-size: 0; }

.fg-estatesItem {
  display: inline-block;
  vertical-align: top;
  float: none;
  padding: 20px; }

.fg-estatesItem-art {
  display: block;
  border-top: 2px solid #26f044;
  position: relative; }

.fg-estatesItem-category {
  display: block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background: #26f044;
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 2; }
  .fg-estatesItem-category::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 21px 0 21px;
    border-color: #26f044 transparent transparent transparent;
    position: absolute;
    bottom: -15px;
    left: 0; }
  .fg-estatesItem-category img {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    max-width: 38px;
    height: auto;
    max-height: 38px; }

.fg-estatesItem-price {
  display: block;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 400;
  background: rgba(38, 240, 68, 0.7);
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2; }

.fg-estatesItem-addToFav {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  background: #fff;
  color: #4a4a4a;
  position: absolute;
  top: 235px;
  right: 10px;
  z-index: 2; }
  .fg-estatesItem-addToFav:hover, .fg-estatesItem-addToFav.act {
    text-decoration: none;
    background: #26f044;
    color: #fff; }

.fg-estateItem-gallery {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #eee; }
  .fg-estateItem-gallery li {
    display: block; }
  .fg-estateItem-gallery .makeBg {
    display: block;
    width: 100%;
    height: 300px; }
  .fg-estateItem-gallery .slick-arrow {
    display: block;
    width: 38px;
    height: 38px;
    margin-top: -16px;
    font-size: 38px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 2; }
  .fg-estateItem-gallery .slick-prev {
    left: 5px; }
  .fg-estateItem-gallery .slick-next {
    right: 5px; }
  .fg-estateItem-gallery .slick-disabled {
    opacity: 0.2;
    cursor: default; }

.fg-estatesItem-desc {
  padding: 10px 0; }
  .fg-estatesItem-desc h2 {
    display: block;
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1; }
  .fg-estatesItem-desc a {
    text-decoration: none;
    color: #4a4a4a; }

.fg-estatesItem-data {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; }
  .fg-estatesItem-data li {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #4a4a4a; }
  .fg-estatesItem-data li + li::before {
    content: "-";
    display: inline-block;
    vertical-align: baseline;
    margin: 0 3px; }

.fg-featuredEstates-cta {
  padding: 20px 0; }
  .fg-featuredEstates-cta .button {
    width: 280px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }

/* HOME SERVICES */
.fg-services-item {
  padding: 10px; }
  .fg-services-item article {
    border-top: 2px solid #26f044; }
