@charset "UTF-8";
/* FG Main Styles */
/* Generales */
body {
  font-family: "Proxima Nova", 'Montserrat', sans-serif; }

a:focus {
  text-decoration: inherit;
  color: inherit; }

.makeBg {
  background-color: #EEE;
  background-position: 50% 50%;
  background-size: cover; }

.container {
  max-width: 1060px;
  padding: 0 40px;
  margin: 0 auto; }

.smallContainer {
  max-width: 800px;
  padding: 0 40px;
  margin: 0 auto; }

.coverBg {
  background-size: cover;
  background-position: 50% 50%; }

.button {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px;
  border: 1px solid #26f044;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #fff;
  color: #4a4a4a;
  transition: all 0.5s ease-in-out; }
  .button:hover, .button.active {
    text-decoration: none;
    background: #26f044;
    color: #4a4a4a; }
  .button.button-white {
    background: transparent;
    border: solid 1px #FFF;
    color: #FFF; }
  .button.button-white:hover, .button.button-white.active {
    background: #FFF;
    color: #4a4a4a; }

.fg-homesection-intro {
  padding: 30px 0; }
  .fg-homesection-intro h2 {
    display: block;
    margin: 0;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    color: #19d235; }

.fg-homesection-introDesc {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8;
  color: #4a4a4a; }

/* Home Banner */
#fg-mainBanner {
  position: relative; }

.fg-slickHome-pic {
  height: 500px;
  background-size: cover;
  background-position: 50% 50%; }

#fg-formFinder-home {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  left: 0;
  right: 0; }
  #fg-formFinder-home .fg-formFinder {
    display: inline-block;
    text-align: left; }

/* Formularios de búsqueda de inmuebeles */
.fg-formFinder-title {
  color: #111;
  font-size: 16px;
  font-weight: 600;
  line-height: 110%;
  padding: .9em 1.25em;
  margin: 0;
  background-color: #26f044;
  text-transform: uppercase;
  position: relative; }

.fg-formFinder-title:after {
  position: absolute;
  top: 100%;
  left: 16.666%;
  content: "";
  border: solid 7px transparent;
  border-top-color: #26f044;
  margin-left: -15px; }

.fg-formFinder-cont {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px 40px;
  font-size: 0; }

.fg-formFinder-input {
  font-size: 13px;
  display: inline-block;
  margin: 10px 0 10px 1px;
  vertical-align: top; }

.fg-formFinder-btn {
  background: #26f044;
  position: relative; }

.fg-formFinder-btn .fa {
  color: #fff;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 18px; }

.fg-formFinder-btn input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  color: transparent;
  opacity: .05;
  cursor: pointer; }

/* Formularios */
.fg-select {
  position: relative; }

.fg-select:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  background: #FFF;
  font-family: 'FontAwesome';
  content: "\f0d7";
  line-height: 40px;
  text-align: center;
  pointer-events: none; }

.fg-select select {
  -moz-appearance: textfield;
  -webkit-appeareance: textfield;
  background: #FFF;
  appearence: none;
  border: 0;
  height: 40px;
  padding: 0 15px 0 7px;
  width: 100%; }

/* INTRODUCING FG HOME */
.fg-introHome-pic {
  background: #000;
  text-align: center;
  color: #f9f9f9;
  position: relative; }

.fg-introHome-pic .coverBg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6; }

.fg-introHome-text, .fg-introHome-title {
  color: #f9f9f9; }

.fg-introHome-title {
  margin: 0; }

.fg-introHome-list {
  list-style: none;
  padding: 0;
  margin: -90px 0 0 -20px;
  position: relative;
  z-index: 2; }

.fg-introHome-cont {
  padding: 120px 0 180px;
  position: relative;
  z-index: 2; }

.fg-introHome-itemPic {
  padding-top: 54.6%;
  margin-bottom: 1em;
  border-top: solid 2px #26f044; }

.fg-introHome-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 1em; }

.fg-introHome-text {
  font-size: 14px;
  padding-bottom: 1em;
  line-height: 140%;
  text-align: center; }

.fg-introHome-text p {
  margin-bottom: 1em; }

.fg-introHome-item {
  padding: 0 0 0 20px;
  text-align: center; }

.fg-introHome-itemTitle {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase; }

.fg-introHome-itemText {
  font-size: 14px;
  color: #4a4a4a;
  padding-bottom: 1em; }

#fg-introductionHome {
  padding-bottom: 80px; }

/* ESTATES GRID */
#fg-featuredEstates {
  display: block;
  padding: 20px 0;
  background: #fff; }

.fg-estatesGrid-tabButtons {
  font-size: 0; }
  .fg-estatesGrid-tabButtons .button {
    font-size: 14px;
    font-weight: 400;
    text-transform: none; }

.fg-estatesGrid {
  display: block;
  padding: 20px;
  font-size: 0; }

.fg-estatesItem {
  display: inline-block;
  vertical-align: top;
  float: none;
  padding: 20px; }

.fg-estatesItem-art {
  display: block;
  border-top: 2px solid #26f044;
  position: relative; }

.fg-estatesItem-category {
  display: block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background: #26f044;
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 2; }
  .fg-estatesItem-category::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 21px 0 21px;
    border-color: #26f044 transparent transparent transparent;
    position: absolute;
    bottom: -15px;
    left: 0; }
  .fg-estatesItem-category img {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    max-width: 38px;
    height: auto;
    max-height: 38px; }

.fg-estatesItem-price {
  display: block;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 400;
  background: rgba(38, 240, 68, 0.7);
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2; }

.fg-estatesItem-addToFav {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  background: #fff;
  color: #4a4a4a;
  position: absolute;
  top: 235px;
  right: 10px;
  z-index: 2; }
  .fg-estatesItem-addToFav:hover, .fg-estatesItem-addToFav.act {
    text-decoration: none;
    background: #26f044;
    color: #fff; }

.fg-estateItem-gallery {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #eee; }
  .fg-estateItem-gallery li {
    display: block; }
  .fg-estateItem-gallery .makeBg {
    display: block;
    width: 100%;
    height: 300px; }
  .fg-estateItem-gallery .slick-arrow {
    display: block;
    width: 38px;
    height: 38px;
    margin-top: -16px;
    font-size: 38px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 2; }
  .fg-estateItem-gallery .slick-prev {
    left: 5px; }
  .fg-estateItem-gallery .slick-next {
    right: 5px; }
  .fg-estateItem-gallery .slick-disabled {
    opacity: 0.2;
    cursor: default; }

.fg-estatesItem-desc {
  padding: 10px 0; }
  .fg-estatesItem-desc h2 {
    display: block;
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1; }
  .fg-estatesItem-desc a {
    text-decoration: none;
    color: #4a4a4a; }

.fg-estatesItem-data {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; }
  .fg-estatesItem-data li {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #4a4a4a; }
  .fg-estatesItem-data li + li::before {
    content: "-";
    display: inline-block;
    vertical-align: baseline;
    margin: 0 3px; }

.fg-estatesGrid-loadMore {
  padding: 20px 0; }
  .fg-estatesGrid-loadMore .button {
    width: auto;
    min-width: 280px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }

/* FG Main Styles */
/* HOME BANNER */
.fg-formFinder-btn-txt {
  display: none; }

/* HOME CONTACT */
#fg-homecontact {
  padding: 40px 0;
  background: #f8f8f8; }

.fg-homecontact-form {
  color: #515151; }
  .fg-homecontact-form .parts {
    padding: 0 20px; }

.fg-homecontact-input {
  margin-bottom: 25px; }
  .fg-homecontact-input label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    cursor: pointer; }
  .fg-homecontact-input input[type=text],
  .fg-homecontact-input input[type=email],
  .fg-homecontact-input select,
  .fg-homecontact-input textarea {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 5px;
    border: 1px solid #d3d3d3;
    background: #fff; }
    .fg-homecontact-input input[type=text]:focus,
    .fg-homecontact-input input[type=email]:focus,
    .fg-homecontact-input select:focus,
    .fg-homecontact-input textarea:focus {
      background: #f9f9f9; }
  .fg-homecontact-input input[type=text],
  .fg-homecontact-input input[type=email],
  .fg-homecontact-input select {
    height: 40px; }
  .fg-homecontact-input .fg-select::after {
    border: 1px solid #d3d3d3;
    border-left: 0; }
  .fg-homecontact-input textarea {
    resize: none; }

.fg-homecontact-agree {
  display: table; }
  .fg-homecontact-agree input[type=checkbox],
  .fg-homecontact-agree label {
    display: table-cell;
    vertical-align: middle; }
  .fg-homecontact-agree input[type=checkbox] {
    width: 18px;
    height: 18px;
    margin-right: 10px; }
  .fg-homecontact-agree label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2; }
  .fg-homecontact-agree a {
    text-decoration: underline;
    color: #515151; }

.fg-homecontact-captcha {
  margin: 20px 0; }

.fg-homecontact-cta .button {
  display: block;
  width: 100%;
  background: #26f044; }

/* HOME SERVICES */
.fg-services-item {
  padding: 10px;
  color: #4a4a4a; }
  .fg-services-item article {
    border: 1px solid #E0E0E0;
    border-top: 2px solid #26f044; }
  .fg-services-item .parts {
    vertical-align: bottom; }
  .fg-services-item .fg-services-itemDescCol {
    padding: 20px; }
  .fg-services-item h2 {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase; }
  .fg-services-item .fg-services-itemDesc {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4; }
  .fg-services-item .fg-services-itemIconCol {
    text-align: right; }
    .fg-services-item .fg-services-itemIconCol img {
      display: inline-block;
      vertical-align: bottom;
      width: auto;
      max-width: 100%; }

.fg-services-contact {
  margin: 60px 0; }
  .fg-services-contact h2 {
    display: block;
    width: 90%;
    max-width: 480px;
    margin: 0 auto;
    padding: 50px 0 30px;
    border-top: 2px solid #26f044;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #26f044; }

.fg-services-contactDesc {
  display: block;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #515151; }

.fg-services-contactCta .button {
  width: 280px; }

/* HOME BLOG */
#fg-homeblog {
  padding: 20px 0; }

.fg-homeblog-artlist {
  padding: 0 20px; }

.fg-homeblog-item {
  padding: 20px; }
  .fg-homeblog-item article {
    border-top: 2px solid #26f044;
    color: #4a4a4a; }
  .fg-homeblog-item .makeBg {
    display: block;
    width: 100%;
    height: 300px; }
  .fg-homeblog-item h3 {
    display: block;
    margin: 0;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4; }
  .fg-homeblog-item time {
    display: block;
    margin: 5px 0;
    font-size: 12px;
    font-weight: 400; }

.fg-homeblog-itemCategory {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #19d235; }

.fg-homeblog-itemDesc {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5; }

.fg-homeblog-itemCta {
  margin-top: 20px; }

.fg-homeblog-loadmore {
  padding: 40px 0; }
  .fg-homeblog-loadmore .button {
    width: 280px; }

/* SERVICE LANDING */
#serviceLandOps-banner {
  display: block;
  margin: 0; }
  #serviceLandOps-banner .makeBg {
    display: block;
    width: 100%;
    height: auto;
    padding: 40px 0; }
    #serviceLandOps-banner .makeBg h2 {
      display: block;
      margin: 40px 0;
      font-size: 34px;
      font: 700px;
      text-align: center;
      text-transform: uppercase;
      color: #fff; }

.serviceLandOps-filtersBox {
  padding: 0 30px; }
  .serviceLandOps-filtersBox h3 {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0.9em 1.25em;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.1;
    text-transform: uppercase;
    background: #26f044;
    color: #111;
    position: relative; }
    .serviceLandOps-filtersBox h3::after {
      content: " ";
      display: block;
      border: solid 7px transparent;
      border-top-color: #26f044;
      position: absolute;
      top: 100%;
      left: 100px;
      z-index: 2; }

.serviceLandOps-filtersCont {
  display: block;
  padding: 30px 20px;
  background: rgba(255, 255, 255, 0.8); }

.serviceLandOps-basicFilters {
  display: table;
  width: 100%; }

.serviceLandOps-input {
  display: table-cell;
  vertical-align: middle;
  width: 21%;
  margin: 0;
  border-right: 1px solid transparent; }
  .serviceLandOps-input.serviceLandOps-inputCode {
    width: 15%; }
    .serviceLandOps-input.serviceLandOps-inputCode input[type=text] {
      display: block;
      width: 100%;
      height: 40px;
      margin: 0;
      padding: 0 5px;
      border: 0;
      line-height: 40px; }

.serviceLandOps-searchbt {
  display: table-cell;
  vertical-align: middle; }
  .serviceLandOps-searchbt button {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    background: #26f044;
    color: #fff; }

.serviceLandOps-moreFilters {
  display: table;
  width: 100%;
  margin: 0;
  border-collapse: collapse; }
  .serviceLandOps-moreFilters p {
    display: table-caption;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 400;
    color: #515151; }

.serviceLandOps-field {
  display: table-cell;
  vertical-align: middle;
  width: 20%;
  margin: 0;
  padding: 20px;
  border-right: 1px solid transparent;
  text-align: center;
  background: #fff;
  position: relative; }
  .serviceLandOps-field label {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #515151; }
  .serviceLandOps-field .serviceLandOps-numberbox-wrap {
    display: inline-block;
    vertical-align: middle; }
  .serviceLandOps-field.serviceLandOps-areaSlider, .serviceLandOps-field.serviceLandOps-priceSlider {
    width: 25%;
    text-align: left; }
    .serviceLandOps-field.serviceLandOps-areaSlider label, .serviceLandOps-field.serviceLandOps-priceSlider label {
      display: block;
      margin: 0;
      margin-bottom: 5px; }

.serviceLandOps-numberbox {
  display: block;
  width: 100%;
  font-size: 0; }
  .serviceLandOps-numberbox input[type=text] {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 28px;
    border: 1px solid #ccc;
    font-size: 13px;
    text-align: center;
    background: #fff; }
  .serviceLandOps-numberbox .fa {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    border: 2px solid #26f044;
    font-size: 13px;
    line-height: 28px;
    text-align: center;
    cursor: pointer; }
    .serviceLandOps-numberbox .fa:hover {
      background: #26f044; }

.serviceLandOps-slider {
  height: 20px;
  border-radius: 15px; }
  .serviceLandOps-slider.ui-widget.ui-widget-content {
    border: 1px solid #ccc; }
  .serviceLandOps-slider.ui-slider .ui-slider-range {
    border: 2px solid #26f044;
    border-radius: 15px;
    background: #b5fabf; }
  .serviceLandOps-slider.ui-slider .ui-slider-handle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4a4a4a;
    cursor: pointer;
    top: 1px;
    margin: 0 3px; }
    .serviceLandOps-slider.ui-slider .ui-slider-handle + .ui-slider-handle {
      margin-left: -18px; }

#fg-featured-landservices {
  padding: 40px 0; }
  #fg-featured-landservices .fg-estatesGrid-tabButtons {
    margin-top: 30px; }

.fg-sharelinks {
  display: block;
  padding: 20px 0;
  text-align: center; }
  .fg-sharelinks .addthis_inline_share_toolbox {
    display: inline-block;
    vertical-align: middle; }
  .fg-sharelinks .at-resp-share-element .at-share-btn {
    margin: 0 5px;
    border: 1px solid #4a4a4a; }
    .fg-sharelinks .at-resp-share-element .at-share-btn:hover, .fg-sharelinks .at-resp-share-element .at-share-btn:focus {
      transform: none; }
    .fg-sharelinks .at-resp-share-element .at-share-btn:hover {
      background: #4a4a4a !important; }
    .fg-sharelinks .at-resp-share-element .at-share-btn .at-icon {
      fill: #4a4a4a !important; }
    .fg-sharelinks .at-resp-share-element .at-share-btn:hover .at-icon {
      fill: #26f044 !important; }

#service-offer {
  padding: 30px 0;
  background: #f8f8f8; }

.service-offer-grid {
  margin-top: 20px; }

.service-offer-item {
  padding: 20px;
  color: #4a4a4a; }
  .service-offer-item figure {
    display: block;
    margin: 0;
    margin-bottom: 40px; }
  .service-offer-item img {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    max-width: 100%; }
  .service-offer-item h3 {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase; }
  .service-offer-item .service-offer-itemDesc {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #515151; }

#fg-advertise-estate {
  padding: 40px 0; }
  #fg-advertise-estate .fg-homesection-intro h2 {
    color: #4a4a4a; }

.fg-advertise-steps {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: item;
  padding: 40px 0; }

.fg-advertise-step {
  color: #4a4a4a; }
  .fg-advertise-step figure {
    position: relative;
    margin-bottom: 10px; }
    .fg-advertise-step figure::after {
      content: counter(item);
      display: block;
      width: 40px;
      height: 40px;
      margin-left: -20px;
      border: 2px solid #04a8de;
      border-radius: 50%;
      font-size: 24px;
      font-weight: 700;
      line-height: 38px;
      text-align: center;
      background: #fff;
      color: #4a4a4a;
      position: absolute;
      bottom: -5px;
      left: 50%;
      z-index: 2;
      counter-increment: item; }
    .fg-advertise-step figure img {
      display: block;
      width: 100%;
      height: auto; }
  .fg-advertise-step h4 {
    display: block;
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase; }

.fg-advertise-step:nth-child(even) figure::after {
  background: #04a8de;
  color: #fff; }

.fg-advertise-stepText {
  padding: 40px; }

.fg-advertise-stepDesc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #515151; }

.fg-advertise-forms {
  display: flex;
  padding: 20px 40px; }
  .fg-advertise-forms .parts {
    display: flex;
    flex: auto;
    padding: 5px; }

.fg-advertise-form {
  flex: 1;
  border: 1px solid #ccc; }
  .fg-advertise-form h4 {
    display: block;
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    color: #4a4a4a; }

.fg-advertise-forms .parts:nth-child(odd) h4 {
  background: #7eddfd; }

.fg-advertise-forms .parts:nth-child(even) h4 {
  background: #9df8ab; }

.fg-advertise-formCont {
  padding: 20px 80px; }
  .fg-advertise-formCont p {
    display: block;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 400;
    color: #515151; }

.fg-advertise-formInput {
  display: block;
  margin: 10px 0; }
  .fg-advertise-formInput label {
    display: block;
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #515151;
    cursor: pointer; }
  .fg-advertise-formInput input[type=text],
  .fg-advertise-formInput input[type=email] {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 5px;
    border: 1px solid #ccc; }

.fg-advertise-captcha {
  display: block;
  margin: 20px 0;
  text-align: center; }
  .fg-advertise-captcha .g-recaptcha {
    display: inline-block;
    vertical-align: middle; }

.fg-advertise-formAgree {
  display: table;
  margin: 20px 0; }
  .fg-advertise-formAgree input[type=checkbox],
  .fg-advertise-formAgree label {
    display: table-cell;
    vertical-align: top; }
  .fg-advertise-formAgree input[type=checkbox] {
    width: 15px;
    height: 15px;
    margin: 0;
    margin-right: 5px; }
  .fg-advertise-formAgree label {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
    color: #515151; }

.fg-advertise-formCta {
  margin-bottom: 10px;
  text-align: center; }
  .fg-advertise-formCta .button {
    display: block;
    width: 100%; }

#fg-relatedposts {
  padding: 20px 0;
  background: #f8f8f8; }

/*--------------------------------------------------------------------------------
	JUMAGRID MEDIA QUERIES - (NON-MOBILE FIRST METHOD)
--------------------------------------------------------------------------------*/
@media only screen and (max-width: 959px) {
  .fg-estatesGrid {
    padding: 10px; }
  .fg-estatesItem {
    padding: 15px; }
  .fg-introHome-cont {
    padding: 80px 20px 140px; }
  .fg-introHome-list {
    margin-left: 0; }
  .fg-introHome-item {
    padding: 20px 0; }
  .fg-homeblog-artlist {
    padding: 0 10px; }
  .fg-homeblog-item {
    padding: 15px; } }

@media only screen and (max-width: 679px) {
  .container {
    padding: 0 20px; }
  .fg-formFinder-cont {
    padding: 10px 20px; }
  .fg-formFinder-input {
    display: block; }
  .fg-formFinder-btn {
    width: 120px;
    margin-left: auto; }
    .fg-formFinder-btn .fa {
      vertical-align: middle; }
    .fg-formFinder-btn input {
      display: block;
      width: 100%; }
    .fg-formFinder-btn .fg-formFinder-btn-txt {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      color: #fff; }
  .fg-slickHome-pic {
    height: 340px; }
  .fg-homesection-intro {
    padding: 20px; }
  .fg-estatesItem {
    padding: 10px; }
  .fg-estatesGrid-tabButtons .button {
    display: block;
    width: 100%; }
  .fg-estatesGrid-loadMore .button {
    min-width: initial; }
  #fg-introductionHome {
    padding-bottom: 40px; }
  .fg-introHome-cont {
    padding: 40px 20px 100px; }
  .fg-introHome-list {
    margin-top: -60px; }
  .fg-services-item {
    padding: 10px 0; }
  .fg-services-contact {
    margin: 30px 0; }
    .fg-services-contact h2 {
      padding: 30px 0 15px; }
  .fg-services-contactDesc {
    padding: 0 20px; }
  .fg-services-contactCta .button {
    width: auto; }
  .fg-homecontact-form {
    overflow: hidden; }
    .fg-homecontact-form .parts {
      padding: 0; }
  .fg-homeblog-item {
    padding: 10px; }
  .fg-homeblog-loadmore .button {
    width: auto; } }
