/* HOME SERVICES */
.fg-services-item {
  padding: 10px;
  color: #4a4a4a; }
  .fg-services-item article {
    border: 1px solid #E0E0E0;
    border-top: 2px solid #26f044; }
  .fg-services-item .parts {
    vertical-align: bottom; }
  .fg-services-item .fg-services-itemDescCol {
    padding: 20px; }
  .fg-services-item h2 {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase; }
  .fg-services-item .fg-services-itemDesc {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4; }
  .fg-services-item .fg-services-itemIconCol {
    text-align: right; }
    .fg-services-item .fg-services-itemIconCol img {
      display: inline-block;
      vertical-align: bottom;
      width: auto;
      max-width: 100%; }

.fg-services-contact {
  margin: 60px 0; }
  .fg-services-contact h2 {
    display: block;
    width: 90%;
    max-width: 480px;
    margin: 0 auto;
    padding: 50px 0 30px;
    border-top: 2px solid #26f044;
    font-size: 24px;
    font-weight: 400;
    color: #26f044; }
  .fg-services-contact .fg-services-contactDesc {
    display: block;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #515151; }

/* HOME BLOG */
#fg-homeblog {
  padding: 20px 0; }

.fg-homeblog-artlist {
  padding: 0 20px; }

.fg-homeblog-item {
  padding: 20px; }
  .fg-homeblog-item article {
    border-top: 2px solid #26f044;
    color: #4a4a4a; }
  .fg-homeblog-item .makeBg {
    display: block;
    width: 100%;
    height: 300px; }
  .fg-homeblog-item h3 {
    display: block;
    margin: 30px 0 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4; }
