/* FG Main Styles */
@charset "utf-8";

// VARS
$green: #26f044;
$greent: #19d235;
$grey: #515151;
$black: #4a4a4a;
$blue: #04a8de;
$marine: #00c69f;

// MIXINS
@mixin resetUL() {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}